---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Journal - Andre Amor">
  <div class="journal-container">
    <h1>Journal</h1>
    
    <div class="subtopic-list">
      <ul>
        <li>
          <a href="/journal/learning-french">Learning French</a>
          <a href="/journal/favorite-quotes">Favorite Quotes</a>
        </li>
      </ul>
    </div>
  </div>
</BaseLayout> 